/* = imports
**********************************************************************/
@import url('https://fonts.googleapis.com/css?family=Arimo');

/* = body
**********************************************************************/
body{
	overflow: hidden;
}

/* = prehead
**********************************************************************/
.prehead,.posthead{
	width: 100%;
	height: 4.5px;
	background-color: #1784DA;
	z-index: 3;
}
.prehead, header,.posthead{
	position: fixed;

}

.posthead{
	bottom: 0;
	height: 18px;
}

.posthead p{
	margin: 0;
	font-family: 'Arimo',sans-serif;
	color: white;
	font-size: 12px;
	padding-top: 3px;
	text-align: center;
	letter-spacing: 1px;
}

/* = frame
**********************************************************************/

iframe{
	background-color: transparent;
	width: 100%;
	height: 100%;
}

.fr{
	z-index:3;
	position: fixed;
	height: 60%;
	width: 50%;
	margin-top: 150px;
	background-color: #1784DA;
	margin-left: 25%;
	overflow: auto;
	display: block;
	border-radius: 7px;

	  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -ms-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.fr p{
	margin-top: 5px;
}
/* = modal
**********************************************************************/
.m{
	height: 60%;
	width: 100%
	background-color: #1784DA;
	display: block;
	border-radius: 7px;
}

#modal-i{
	display: none;
}

.m-contain-img{
	float:left;
	/*background-color: blue;*/
}

.m-content{
	/*background-color: green;*/
	font-size: 19px;
	/*background-color: #0078D7;*/
}

.m-content p{
	margin: 0;
	padding-top: 4px;
	text-indent: 2px;
	letter-spacing: 0px;
	line-height: 1.34em;
}

.m-title{
	/*background-color: red;*/
	background-color: #0078D7;
	font-size: 22px;

}
.m-title h2{
	margin: 0;
	padding-top: 18px;
	padding-left: 18px;
	padding-bottom: 18px;
}
.m-title, .m-content{
	font-family: 'Arimo',sans-serif;
	color: white;
}
.m-contain-img img{
	height: auto;
	width: 300px;
	padding: 20px;
}

.m-wrap{
	/*padding: 5px;*/
}

.close {
    color: white;
    float: right;
    font-size: 35px;
    font-weight: bold;
    margin-right: 15px;
    display: none;
    margin-top: 0;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.fr p{
	margin: 0;
}

#kl{
	display: block;
	position: absolute;
	right: 0;
	top:10px;
}
/* = header
**********************************************************************/
header{
	margin-top: 5px;
	background-color: #0078D7;
	height: 30px;
	width: 25%;
	margin-left: 37.5%;
	font-family: 'Arimo', sans-serif;
	color: white;
	z-index: 4;

	border-radius: 0 0 5px 5px;
}

header p{
	padding-top: 5px;
	letter-spacing: 3px;
	margin:0;
}

.break{
	font-size: 16px;
	margin-left: 67px;
	margin-right: 62px;

}
header img{
	margin-top: 3px;
	height: 22px;
	width: 22px;
	float: left;
	margin-left: 72px;
}

.info-icon{
	cursor: pointer;
}

.info-icon:hover{
	transform: scale(1.07);
}

/* = contain-map
**********************************************************************/
.contain-map{
	position: relative;
}

/* = damap
**********************************************************************/
.damap{
	position: relative;
}

/* = transition
**********************************************************************/

.balloon{
	-ms-transition: transform .12s ease-in-out;
 	-webkit-transition: transform .12s ease-in-out;
/*	-ms-transition:color .12s ease-out, background .23s ease-in, border .12s ease-in-out, transform .12s ease-in-out;
 	-webkit-transition:color .12s ease-out, background .23s ease-in, border .12s ease-in-out,  transform .12s ease-in-out;
*/
}

header{
	-ms-transition: transform .12s ease-in-out;
 	-webkit-transition: transform .12s ease-in-out;
}

/* = balloon
**********************************************************************/
.balloon{
	position: absolute;
	cursor: pointer;
	z-index: 2;

}

.balloon:hover{
	-webkit-animation: wiggle 0.5s infinite;
	-moz-animation: wiggle 0.5s infinite;
	animation: wiggle 0.5s infinite;
}

#b-building-main{
	top: 899px;
	left: 951px;
}

#b-park{
	top: 666px;
	left: 1349px;
}

#b-chapel{
	top: 1137px;
	left: 1257px;
}

#b-obelisk{
	top: 510px;
	left: 1396px;
}

#b-gymnasium{
	top: 101px;
	left: 1796px;
}

#b-shrine{
	top: 688px;
	left: 1513px;
}

#b-library{
	top: 186px;
	left: 962px;
}

#b-oval{
	top: 990px;
	left: 1839px;
}

#b-station-ferry{
	top: 1332px;
	left: 653px;
}

#b-tahanan-alumni{
	top: 71px;
	left: 1303px;
}

#b-river{
	top: 714px;
	left: 164px;
}
#b-office-visitor{
	top: 428px;
	left: 2040px;
}
#b-pylon{
	top: 477px;
	left: 2172px;
}
#b-lagoon{
	top: 509px;
	left: 1023px;
}
#b-building-charlie{
	top:464px;
	left: 553px;
}

/* = GOT IT FROM THE W E B
article : HARRY BAILEY,https://harrybailey.com/2011/09/css3-element-wiggle-with-keyframes/;
please credit
**********************************************************************/

/* safari and chrome */
@-webkit-keyframes wiggle {
	0% {-webkit-transform:rotate(4deg);}
	50% {-webkit-transform:rotate(-4deg);}
	100% {-webkit-transform:rotate(4deg);}
}
 
/* firefox */
@-moz-keyframes wiggle {
	0% {-moz-transform:rotate(4deg);}
	50% {-moz-transform:rotate(-4deg);}
	100% {-moz-transform:rotate(4deg);}
}
 
/* anyone brave enough to implement the ideal method */
@keyframes wiggle {
	0% {transform:rotate(4deg);}
	50% {transform:rotate(-4deg);}
	100% {transform:rotate(4deg);}
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
/*.wiggler:hover {
	-webkit-animation: wiggle 0.5s infinite;
	-moz-animation: wiggle 0.5s infinite;
	animation: wiggle 0.5s infinite;
}*/




/* = SCROLLBAR CUSTOMIZATION
STACKOVERFLOW LINK: http://stackoverflow.com/questions/7713599/styling-an-inner-scrollbar-like-the-twitter-conversation-interface/7713784#7713784;
FOR CHROME ONLY. DEAR IE Y DO U SUCK. jk
**********************************************************************/

body ::-webkit-scrollbar{
	width:9px;
	height:9px;
}
body ::-webkit-scrollbar-button:start:decrement,body ::-webkit-scrollbar-button:end:increment{
	display:block;
	height:0;
	background-color:
	transparent;
}
body ::-webkit-scrollbar-track-piece{
	background-color:#FAFAFA;
	-webkit-border-radius:0;
	-webkit-border-bottom-right-radius:8px;
	-webkit-border-bottom-left-radius:8px;
}
body ::-webkit-scrollbar-thumb:vertical{
	height:50px;background-color:#999;
	-webkit-border-radius:8px;
}
body ::-webkit-scrollbar-thumb:horizontal{
	width:50px;
	background-color:#999;
	-webkit-border-radius:8px;
}

body ::-webkit-scrollbar{
	width:9px;
	height:9px;
}
body ::-webkit-scrollbar-button:start:decrement,body ::-webkit-scrollbar-button:end:increment{
	display:block;
	height:0;
	background-color:
	transparent;
}
body ::-webkit-scrollbar-track-piece{
	background-color:#FAFAFA;
	-webkit-border-radius:0;
	-webkit-border-bottom-right-radius:8px;
	-webkit-border-bottom-left-radius:8px;
}
body ::-webkit-scrollbar-thumb:vertical{
	height:50px;background-color:#999;
	-webkit-border-radius:8px;
}
body ::-webkit-scrollbar-thumb:horizontal{
	width:50px;
	background-color:#999;
	-webkit-border-radius:8px;
}

