/* = contain-map
**********************************************************************/
.contain-map{
	height: 200px;
	width: 200px;
	position: relative;
}

/* = region
**********************************************************************/


/* = damap
**********************************************************************/
.damap{
	position: relative;
}

/* = transition
**********************************************************************/

.balloon{
	-ms-transition: transform .12s ease-in-out;
 	-webkit-transition: transform .12s ease-in-out;
/*	-ms-transition:color .12s ease-out, background .23s ease-in, border .12s ease-in-out, transform .12s ease-in-out;
 	-webkit-transition:color .12s ease-out, background .23s ease-in, border .12s ease-in-out,  transform .12s ease-in-out;
*/
}

/* = balloon
**********************************************************************/
.balloon{
	position: absolute;
	cursor: pointer;
	z-index: 2;

}

.balloon:hover{
	-webkit-animation: wiggle 0.5s infinite;
	-moz-animation: wiggle 0.5s infinite;
	animation: wiggle 0.5s infinite;
}

#b-building-main{
	top: 899px;
	left: 951px;
}

#b-park{
	top: 666px;
	left: 1349px;
}

#b-chapel{
	top: 1137px;
	left: 1257px;
}

#b-obelisk{
	top: 510px;
	left: 1396px;
}

#b-gymnasium{
	top: 101px;
	left: 1796px;
}

#b-shrine{
	top: 688px;
	left: 1513px;
}

#b-library{
	top: 186px;
	left: 962px;
}

#b-oval{
	top: 990px;
	left: 1839px;
	background-color: red;
}

#b-station-ferry{
	top: 1332px;
	left: 653px;
}



/* = GOT IT FROM THE W E B
article : HARRY BAILEY,https://harrybailey.com/2011/09/css3-element-wiggle-with-keyframes/;
please credit
**********************************************************************/

/* safari and chrome */
@-webkit-keyframes wiggle {
	0% {-webkit-transform:rotate(4deg);}
	50% {-webkit-transform:rotate(-4deg);}
	100% {-webkit-transform:rotate(4deg);}
}
 
/* firefox */
@-moz-keyframes wiggle {
	0% {-moz-transform:rotate(4deg);}
	50% {-moz-transform:rotate(-4deg);}
	100% {-moz-transform:rotate(4deg);}
}
 
/* anyone brave enough to implement the ideal method */
@keyframes wiggle {
	0% {transform:rotate(4deg);}
	50% {transform:rotate(-4deg);}
	100% {transform:rotate(4deg);}
}
 /*
.wiggler:hover {
	-webkit-animation: wiggle 0.5s infinite;
	-moz-animation: wiggle 0.5s infinite;
	animation: wiggle 0.5s infinite;
}*/